/* Style for hidden content inside the box */
.hidden-content {
  display: none;
}

.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-content {
  background-color: rgb(0, 0, 0);
  border: 2px solid #31f827;
  color: #31f827;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 1000px;
  max-height: 95vh;
  text-align: start;
  opacity: 0;
  transform: translateY(-50px); /* Start with slight vertical offset */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animation on opacity and transform */
  overflow: auto;
}

.popup-content.show {
  opacity: 1;
  transform: translateY(0); /* Move to the natural position */
}

.label {
  color: white;
}

#popup-text p {
  font-size: clamp(5px, 0.45vw + 0.8rem, 22px);
  margin-bottom: 1%;
}

#popup-text h2 {
  font-size: clamp(15px, 1vw + 1.5rem, 40px);
  color: white;
}

/* Container for Leave button and GitHub icon */
.close-btn-container {
  display: flex; /* Align Leave button and GitHub icon horizontally */
  align-items: center; /* Vertically align them */
  gap: 10px; /* Space between Leave button and GitHub icon */
}

/* Leave button styles */
.close-btn {
  font-weight: 900;
  font-size: 20px;
  transition: background-color 0.8s;
  cursor: pointer;
  width: 80px;
  padding: 8px;
  border-radius: 10px;
  text-align: center; /* Ensures text/icon are centered */
}

/* Hover effect for Leave button */
.close-btn:hover {
  background-color: #0da105;
  color: white;
  border-radius: 10px;
}

/* GitHub link (icon next to Leave button) */
.github-link {
  font-size: 20px; /* Match size with Leave button */
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline for link */
  display: flex; /* Keep the icon inline with the button */
  align-items: center; /* Vertically center the icon */
  gap: 8px;
}

.github-popup-btn {
  padding-right: 16px;
}

.popup-content .img-container {
  text-align: center;
}

.popup-content img{
  width: 50%;
  margin-bottom: 5%;
  border: 3px solid #0da105;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 700px) {
  .popup-content {
    width: 85%;
  }
}