#section2 {
  box-sizing: border-box; /* Includes padding and border in width/height calculations */
  max-width: 100%; /* Prevents width overflow */
  word-wrap: break-word; /* Breaks long words to fit within the div */
}

#section2 h1 {
  font-size: clamp(50px, 7.7vw + 1rem, 150px);
  margin: 0;
  padding: 0;
  white-space: nowrap; /* Prevent wrapping initially */
  font-weight: 900;
  margin-bottom: 1%;
}

#section2 h2 {
  font-size: clamp(5px, 0.8vw + 0.8rem, 25px);
}

#section2 .section-content {
  width: 60vw;
  text-align: center;
}

@media (max-width: 1500px) {
  #section2 .section-content {
    width: 100vw;
  }
}

    
#section2 p {
  font-size: clamp(5px, 0.45vw + 0.5rem, 18px);
  margin: 0;
  padding: 0;
}

#section2 .box-container {
  margin-top: 0; /* Ensure there's no unwanted top margin */
  padding-top: 0; /* Remove any padding above the boxes */
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping of boxes */
  justify-content: space-between; /* Add spacing between boxes */
  overflow-x: auto;
}

#section2 .box {
  background: rgba(29, 29, 29, 0.3);
  border: 2px solid #31f827;
  border-radius: 5px;
  padding: 10px;
  backdrop-filter: blur(10px);
  flex: 1; /* Each box takes equal width */
  box-sizing: border-box; /* Ensures padding and border are included in width */
  margin: 5px; /* Adds spacing around the boxes */
}

@media (max-width: 700px) {
  #section2 .box-container {
    flex-wrap: wrap; /* Allows wrapping */
    justify-content: space-around; /* Adjust spacing */
  }

  #section2 .box {
    flex: 0 0 calc(50% - 10px); /* 50% width minus margin for 2 per row */
    margin: 5px;
  }
}

#section2 .box:hover {
  cursor: pointer;
  background-color: #0da105;
  transition: background-color 0.8s;
}

#section2 .box:hover p {
  color: white;
}