body {
  height: 500vh; /* Simulate a long scrollable page */
  overflow-y: scroll;
  background: black;
  color: white; /* Ensure text is visible */
  font-family: 'Roboto', sans-serif;
}

p {
  color: #31f827;
  font-size: 1em;
}

h1 {
  color: #C0C0C0;
}

/* Smooth scroll for the whole page */
html {
  scroll-behavior: smooth;
}

canvas {
  display: block;
  position: fixed; /* Fixed position makes it overlay the background */
  top: 0;
  left: 0;
  z-index: -1; /* Ensure the canvas is behind all HTML content */
  width: 100%; /* Make the canvas take full width */
  height: 100%; /* Make the canvas take full height */
}

/* Style for each section */
section {
  height: 100vh; /* Set height to 100% of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Small screens: Up to 767px */
@media (max-width: 767px) {
  #section1 h1 {
    font-size: 3em;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #section1 h1 {
    font-size: 5em;
    margin: 0;
    width: 10%;
  }
  
  #section1 .box1 {
    width: 70%;
  }
}

.navbar {
  background: rgba(29, 29, 29, 0.3);
  backdrop-filter: blur(50px);
  border: 2PX solid #31f827;
  position: fixed;
  padding: 1em;
  width: 30%;
  margin-left: 35%;
  margin-top: 0.5%;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  word-wrap: break-word; /* Prevent overflow */
  overflow: hidden; /* Hide overflowing content */
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Wrap items on smaller screens */
  justify-content: center;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: #31f827;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 8px;
  transition: background-color 0.3s;
  font-weight: 900;
  text-align: center;
  white-space: nowrap; /* Prevent text from breaking within links */
}

@media screen and (max-width: 768px) {
  .navbar {
    width: 80%; /* Adjust navbar width for smaller screens */
    margin-left: 10%; /* Center navbar on smaller screens */
  }

  .navbar-menu a {
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}