#section4 h1 {
  font-size: clamp(35px, 6vw + 1rem, 150px);
  margin: 0;
  padding: 0;
  font-weight: 900;
}
  
#section4 p {
  font-size: clamp(5px, 0.5vw + 0.8rem, 25px);
  margin: 0;
  padding: 0;
}

#section4 .box-container {
  z-index: 100;
  display: flex;
  flex-direction: column; /* Stack the boxes vertically */
  justify-content: center; /* Vertically centers the boxes */
  align-items: center; /* Horizontally centers the boxes */
}

#section4 .box1, #section4 .box2 {
  margin: 5px;
  box-sizing: border-box;
}

#section4 .box2{
  background: rgba(29, 29, 29, 0.7);
  border: 2px solid #31f827;
  border-radius: 5px;
  padding: 10px;
  backdrop-filter: blur(10px);
}

#section4 .box3{
  background: rgba(29, 29, 29, 0.7);
  border: 2px solid #31f827;
  border-radius: 5px;
  padding: 10px;
}

#section4 .box2 p a{
  color: #0da105;
  text-decoration: underline;
  font-weight: 900;
}

#section4 .box3 {
  display: flex;
  gap: 1rem; /* Adjust spacing between items as needed */
  flex-wrap: wrap; /* Ensures items wrap to the next line if space runs out */
  align-items: center;
  margin-top: 1%;
}

#section4 .link-item {
  color: #31f827;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 8px;
  transition: background-color 0.8s;
  font-weight: 900;
  border-radius: 10px;
  text-align: center;
  white-space: nowrap; /* Prevent text from breaking within links */
}

#section4 .link-item:hover {
  background-color: #0da105;
  color: white;
  border-radius: 10px;
}

@media (min-width: 1534px) {
  #section4 .box-container {
    width: 60vw;
  }
}

@media (max-width: 1533px) {
  #section4 .box-container {
    width: 65vw;
  }
}

@media (max-width: 1201px) {
  #section4 .box-container {
    width: 70vw;
  }
}

@media (max-width: 750px) {
  #section4 .box-container {
    width: 80vw;
  }
}

@media (max-width: 450px) {
  #section4 .box-container {
    width: 100vw;
  }

  #section4 .link-item {
    font-size: 1rem;
  }
}